body {
 font-family: Arial, Helvetica, sans-serif;
}

.title {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 500px;
    margin: 0 auto;
}

.button {
    display: flex;
    border: 2.5px solid black;
    font-size: 2em;
    padding: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 86px;
}

.actions {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    font-size: 24px;
}

#restart {
    visibility:hidden;
}

.button:hover {
    background-color: azure;
}